<!DOCTYPE html>

<h1> 
Of the boxes you checked just now, which ones are you most likely to focus on in the next 5 years? Please select between 1 to 4 of these items:
</h1>

<form>
<div class="1">
    <select>
        <option value="" selected disabled hidden>--1--</option>
        <option>Test 1</option>
        <option>Test 2</option>
    </select>
</div>

<div class="2">
    <select>
        <option value="" selected disabled hidden>--2--</option>
        <option>Test 1</option>
        <option>Test 2</option>
    </select>
</div>

<div class="3">
    <select>
        <option value="" selected disabled hidden>--3--</option>
        <option>Test 1</option>
        <option>Test 2</option>
    </select>
</div>

<div class="4">
    <select>
        <option value="" selected disabled hidden>--4--</option>
        <option>Test 1</option>
        <option>Test 2</option>
    </select>
</div>
<input type="submit" class="submitButton">
</form>
