<!DOCTYPE html>
<h1> 
Please provide us with the following information
</h1>

<form>
  First Name:<br>
  <input type="text" name="firstname"><br>
  Last Name:<br>
  <input type="text" name="lastname"><br>
  email:<br>
  <input type="text" name="email"><br>
  date of birth:<br>
  <input type="date" name="dob"><br>
  Institution:<br>
  <input type="text" name="institution"><br>
  Year of graduation (Change to dropdown at some point):<br>
  <input type="text" name="graddate"><br>
  Your major(s):<br>
  <input type="text" name="majors"><br>
  <input type="submit" class="SubmitButton">
</form>
